[Unit]
Description=GlassOS boot partition
Documentation=https://github.com/glasslabs/os
DefaultDependencies=no
Before=local-fs.target umount.target
Conflicts=umount.target
After=systemd-fsck@dev-disk-by\x2dlabel-glass\x2dboot.service
Wants=systemd-fsck@dev-disk-by\x2dlabel-glass\x2dboot.service

[Mount]
What=/dev/disk/by-label/glass-boot
Where=/boot
Type=vfat
Options=ro,noatime

[Install]
WantedBy=local-fs.target
