[Unit]
Description=GlassOS data partition
DefaultDependencies=no
Before=local-fs.target umount.target
Conflicts=umount.target
After=systemd-fsck@dev-disk-by\x2dlabel-glassos\x2ddata.service glassos-expand.service
Wants=systemd-fsck@dev-disk-by\x2dlabel-glassos\x2ddata.service systemd-growfs@data.service

[Mount]
What=/dev/disk/by-label/glassos-data
Where=/data
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target

