[Unit]
Description=Dropbear persistent host keys
Documentation=https://github.com/glasslabs/os
Requires=glassos-system-dirs.service
After=glassos-system-dirs.service
Before=dropbear.service

[Mount]
What=/data/etc/dropbear
Where=/etc/dropbear
Type=none
Options=bind
LazyUnmount=yes

[Install]
WantedBy=glassos-bind.target


