[Unit]
Description=GlassOS management agent
Documentation=https://github.com/glasslabs/os
Wants=network-online.target
After=network-online.target glassos-data-dirs.service
Requires=network-online.target glassos-data-dirs.service
RequiresMountsFor=/data

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=XDG_CACHE_HOME=/data/cache
Environment=LIBSEAT_BACKEND=builtin
Environment=LC_ALL=C
ExecStart=/usr/bin/glass-agent --addr=:80 --data-dir=/data
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
