[Unit]
Description=GlassOS WiFi provisioning
Documentation=https://github.com/glasslabs/os
# Run after data dirs are created (connections go to /data) and /boot is mounted.
After=glassos-data-dirs.service boot.mount
Requires=glassos-data-dirs.service
ConditionPathExists=|/boot/wpa_supplicant.conf
ConditionPathExists=|/boot/*.nmconnection

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/glassos-wifi-provision

[Install]
WantedBy=network.target
