[Unit]
Description=Create GlassOS system directories
Documentation=https://github.com/glasslabs/os
Requires=data.mount
After=data.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/glassos-system-dirs

[Install]
WantedBy=glassos-bind.target


