[Unit]
Description=Persistent systemd journal
Documentation=https://github.com/glasslabs/os
Requires=glassos-system-dirs.service
After=glassos-system-dirs.service
Before=systemd-journal-flush.service

[Mount]
What=/data/var/log/journal
Where=/var/log/journal
Type=none
Options=bind
LazyUnmount=yes

[Install]
WantedBy=glassos-bind.target


