[Unit]
Description=NetworkManager state directory
Documentation=https://github.com/glasslabs/os
# Ensure the source directory exists before mounting.
Requires=glassos-system-dirs.service
After=glassos-system-dirs.service
Before=NetworkManager.service

[Mount]
What=/data/var/lib/NetworkManager
Where=/var/lib/NetworkManager
Type=none
Options=bind
LazyUnmount=yes

[Install]
WantedBy=glassos-bind.target

